<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Amazon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.amazon.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmailServlet</display-name>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>com.amazon.servlet.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/doCheckEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserNameServlet</display-name>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>com.amazon.servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/doCheckUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckVaildataCodeServlet</display-name>
    <servlet-name>CheckVaildataCodeServlet</servlet-name>
    <servlet-class>com.amazon.servlet.CheckVaildataCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckVaildataCodeServlet</servlet-name>
    <url-pattern>/doCheckVaildataCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.amazon.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuitServlet</display-name>
    <servlet-name>QuitServlet</servlet-name>
    <servlet-class>com.amazon.servlet.QuitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuitServlet</servlet-name>
    <url-pattern>/doQuit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.amazon.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/doRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowServlet</display-name>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>com.amazon.servlet.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/doShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewProductServlet</display-name>
    <servlet-name>viewProductServlet</servlet-name>
    <servlet-class>com.amazon.servlet.viewProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewProductServlet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProductServlet</display-name>
    <servlet-name>SearchProductServlet</servlet-name>
    <servlet-class>com.amazon.servlet.SearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProductServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>